
body {
  color: rgb(0,56,155);
}

h1, h2, h3 {
  color: rgb(0,51,141);
}

.title {
    color: rgb(0,51,141);
    font-family: 'Yanone Kaffeesatz';
/*    font-weight: 400;*/
}

.subtitle {
    font-family: 'Yanone Kaffeesatz';
}

.author {
    color: rgb(0,56,155);
}
.coauthor {
    color: rgb(0,56,155);
}

/*
Rotate image 90 degree
Put class="rotate90" inside <img ... >
*/
.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

/*
Rotate image 45 degree
Put class="rotate45" inside <img ... >
*/
.rotate45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*
Rotate image 30 degree
Put class="rotate30" inside <img ... >
*/
.rotate30 {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

/*
Remove slide number
*/
/*
.remark-slide-number {
  opacity: 0;
*/
  /* default: 0.5 */
/*
}
*/

.transp { 
  color: rgba(0,0,0, 0.25);
}

.graa {
  color: rgba(0,0,0, 0.5);
}

.svart {
  color: rgba(0,0,0, 0.9);
}

.skde {
  color: rgb(0,51,141);
}

.tiny {
  font-size: 0.7em;
}
